/build
/crawls
/dbs
/eggs
/logs
/project.egg-info
/setup.py


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
NeoScrapy/__pycache__/
NeoScrapy/downloadmiddlewares/__pycache__/
NeoScrapy/pipelines/__pycache__/
NeoScrapy/spidermiddlewares/__pycache__/
NeoScrapy/spiders/__pycache__/
NeoScrapy/utils/__pycache__/
/scraped_data.json
/NeoScrapy/settings.py
